{% extends "base.html" %}
{% load static %}

{% block title %}Show wallet balance and transactions{% endblock %}

{% block content %}

<h1>
{% if whose_url %}<a href="{{whose_url}}">{% endif %}{{whose}}{% if whose_url %}</a>{%endif%}
</h1>
<ul>
{% for w in wallets %}
<li> <a href="{% url 'wallet:show' %}?nr={{w.id}}">
   <span class="border">The wallet {{ w.id }} of user {{ w.user }} currently contains {{ w.current_balance }} {{ currency_icon | safe }}.</span>
 </a>
{% endfor %}
</ul>

<h2>Transactions for wallet {{ wallet.id }}</h2>
{% if perms.wallet.view_transaction %}
{% include "show_transactions.html" %}
{% else %}
<div class="alert alert-warning" role="alert">Permission denied</div>
{% endif %}

{% endblock %}
