{% extends "base.html" %}
{% load static %}

{% block title %}Show wallet balance and transactions{% endblock %}

{% block content %}

<h1>Your wallet</h1>

<h2>Balance</h2>

<div class="border">Your wallet currently contains {{ wallet.current_balance }} {{ currency_name }}.</div>

<h2>Transactions</h2>
{% if perms.wallet.view_transaction %}
<table class="table table-bordered table-sm table-hover">
<thead>
 <tr>
  {% for f in transaction_template %} 
    <th scope="col">{{ f.label_tag }} {% if f.help_text %} ({{ f.help_text }}) {% endif %}</th>
  {% endfor %}
 </tr>
 </thead>
 <tbody>
 {% for val in transactions %}
  <tr>
     {% for f in val %} <td class="text-right">{{ f.value }}</td>   {% endfor %}
  </tr>
 {% endfor %}
 </tbody>
</table>
{% else %}
<div class="alert alert-warning" role="alert">Permission denied</div>
{% endif %}

{% endblock %}
