{% extends "base.html" %}
{% load static %}

{% block title %}Show wallet balance and transactions{% endblock %}

{% block content %}

<h1>Your wallet</h1>

<h2>Balance</h2>

<div class="border">Your wallet currently contains {{ wallet.current_balance }} {{ currency_name }}.</div>

<h2>Transactions for wallet {{ wallet.id }}</h2>
{% if perms.wallet.view_transaction %}
{% include "show_transactions.html" %}
{% else %}
<div class="alert alert-warning" role="alert">Permission denied</div>
{% endif %}

{% endblock %}
