{% extends "base.html" %}
{% load static %}

{% block title %} Main page {% endblock %}

{% block content %}

<h1>Django_pursed test pages</h1>

<h2>Buy</h2>

{% if chooseform %}
<form action="{% url 'buy' %}" method="post" class="border">
    {% csrf_token %}
    <table class="border">
    {{ chooseform.as_table }}
    </table>
    <input type="submit" value="Buy">
</form>
{% else %}
<a href="{% url 'my_login' %}?next=/" class="btn btn-outline-primary btn-sm">
  Please login.
</a>
{% endif %}

<h2>Tools</h2>

<a href="{% url 'wallet:show' %}" class="btn btn-outline-primary btn-sm p-1 m-1">
 View wallet
</a>

{% endblock %}
