{% extends "base.html" %}
{% load static %}

{% block title %} Main page {% endblock %}

{% block content %}

<h1>Django-simplewallet : toystore test pages</h1>

{% if user.is_authenticated %}
<h2>Buy</h2>
<h3>Buy with intermediate form and redirect </h3>
{% if chooseform %}
<form action="{% url 'buy' %}" method="post" class="border">
    {% csrf_token %}
    <table class="border">
    {{ chooseform.as_table }}
    </table>
    <input type="submit" value="Buy">
</form>
{% endif %}
<h3>Buy with link </h3>
<ul>
{% for descr,contr in buyables %}
  <li> <a href="{% url 'wallet:authorize_purchase_url' contr %}"
          class="btn btn-outline-primary">Buy: {{ descr }}</a> </li>
{% endfor %}
</ul>
<h3>Buy with form</h3>
<ul>
{% for descr,contr in buyables %}
  <li> 
  <form action="{% url 'wallet:authorize_purchase_encoded_post' %}" method="post" class="btn btn-outline-primary">
    {% csrf_token %}
        <input type="hidden" name="encoded" value="{{ contr }}" id="id_encoded">
        <input type="submit"  value="Buy: {{ descr }}"  class="btn">
  </form>
 </li>
{% endfor %}
</ul>
{% else %}
<a href="{% url 'my_login' %}?next=/" class="btn btn-outline-primary btn-sm">
  Please login.
</a>
{% endif %}

<h2>Tools</h2>

<a href="{% url 'wallet:show' %}" class="btn btn-outline-primary btn-sm p-1 m-1">
 View wallet
</a>

{% endblock %}
